@media screen and (min-width: 480px) {
	.title-interview {
		margin-top: -10%;
	}
	.container-podcast {
		margin: 5%;
		grid-template-columns: repeat(1, 1fr);
		column-gap: 5%;
	}
	.img-grid {
		display: grid;
		grid-template-columns: repeat(1, 1fr);
	}
	.phone {
		width: 457px;
		height: 660px;
	}
	.container-bg-news {
		height: 300px;
	}
}
@media screen and (min-width: 768px) {
	.title-hello {
		font-size: 50px;
		width: 100%;
	}
	.subtitle-1 {
		display: block;
		font-family: $font_family_1;
		color: $color_3;
		letter-spacing: 0;
		margin-left: 10px;
	}
	.subtitle-2 {
		display: none;
	}
	.container-bg-podcast {
		height: 850px;
	}
	.container-podcast {
		margin: 5%;
		grid-template-columns: repeat(2, 2fr);
		row-gap: 10%;
	}
	.img-grid {
		display: grid;
		grid-template-columns: repeat(2, 2fr);
	}
}
@media screen and (min-width: 1024px) {
	.header {
		ul {
			background-color: $background_color_3;
			height: 100px;
		}
		li {
			float: left;
			a {
				color: $color_3;
				padding: 0px 30px;
			}
		}
		.logo {
			line-height: 1;
		}
		.menu {
			clear: none;
			float: right;
			max-height: none;
		}
		.menu-icon {
			display: none;
		}
	}
	.title-hello {
		margin-left: 15%;
		font-size: 64px;
		letter-spacing: 0;
		margin-bottom: 5%;
	}
	.subtitle-1 {
		width: 39.25rem;
		margin-left: 15%;
		font-size: 16px;
		line-height: 24px;
		margin-top: auto;
	}

	.container-bg-podcast {
		height: 900px;
	}
}
@media only screen and (min-width: 1280px) {
	.menu-wrapper {
		height: 55px;
		line-height: 55px;
		width: 100%;
	}
	
	.title-hello {
		margin-top: 15%;
		margin-bottom: 3%;
	}
	.btn-conoce {
		font-size: 18px;
		line-height: 24px;
		margin-left: 21%;
		width: 226px;
		height: 56px;
	}

	.container-hello{
		margin-left: 100px;
	}
	.container-conoce {
		display: block;
		margin-left: -100px;
		margin-top: 50px;
	}
	.podcast {
		width: 584px;
		height: 232px;
	}
	.container-bg-podcast {
		min-height: 1042px;
	}

	.title-episodes {
		font-family: $font_family_2;
		color: $color_1;
		font-size: 48px;
		letter-spacing: 0;
		transform: translate(-50px,20px);
		margin-left: 15%;
	}
	.phone {
		width: 457px;
		height: 660px;
		transform: translate(0px,-200px);
	}
	.container-dndvenimos {
		margin-left: 35%;
		margin-bottom: 5%;
	}
	.title-dndvenimos {
		font-family: $font_family_2;
		font-size: 48px;
		color: $color_3;
		letter-spacing: 0;
	}
	.text-dndvenimos {
		width: 464px;
		height: 204px;
		font-family: $font_family_1;
		line-height: 24px;
		font-size: 16px;
	}
	.title-interview {
		margin-top: 10px;
		margin-left: 15%;
		font-family: $font_family_2;
		font-size: 48px;
		color: $color_3;
		letter-spacing: 0;
	}
	.title-topics {
		margin-top: 70px;
		margin-left: 15%;
		font-family: $font_family_2;
		font-size: 48px;
		color: $color_3;
		letter-spacing: 0;
	}
	.img-grid {
		grid-template-columns: repeat(3, 1fr);
	}
	.container-bg-news {
		height: 518px;
		line-height: 50px;
	}
	.title-news {
		font-size: 48px;
	}
	.btn-escucha {
		font-size: 18px;
		line-height: 24px;
		width: 345px;
		height: 56px;
	}
	.footer-text {
		float: left;
		margin-left: 10%;
		p {
			font-size: 16px;
			line-height: 28px;
		}
	}
	.footer-icon {
		ul {
			float: right;
			margin-right: 10%;
			margin-top: 18px;
			li {
				a {
					font-size: 18px;
				}
			}
		}
	}
}

@media only screen  and (min-width : 1824px) {

	.header{
		padding-right: 100px;
		a img{
			width: 75px;
			height: 75px;
			transform: translate(75px);
		}
		ul{
			margin-top: 20px;
		}
	}

	.btn-conoce{
		margin-left: 370px;
	}

	.container-bg-podcast {
		height: 1200px;
	}

	.container-podcast {
		transform: translate(100px,-60px);
		width: 80vw ;
		height: 60vh;
		display: flex;
		flex-flow: row wrap;
		align-items: center;
		justify-content: space-around;
		iframe{
			width: 700px;
		
		}
	}

	.title-episodes {
		transform: translate(-100px,0px);
	}
	.phone {
		transform: translate(-100px,-250px);
	}

	.container-dndvenimos {
		transform: translate(-150px);
		width: 100%;
	}

}