$color_1: #FFFFFF;
$color_2: #00F3BB;
$color_3: #060A24;
$color_4: #0000EC;
$font_family_1: 'IBM Plex Mono', monospace;
$font_family_2: 'IBM Plex Sans', sans-serif;
$background_color_1: #0000EC;
$background_color_2: #00F3BB;
$background_color_3: white;