/*importacion de archivos parciales*/
/*variable*/
/*baserules*/
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth; }

h2 {
  font-weight: normal; }

body {
  margin-left: 0;
  margin-right: 0; }

h1, h2 {
  margin-left: 10px; }

/*header*/
.header {
  position: relative;
  width: 100%;
  height: 80px;
  z-index: 3; }
  .header ul {
    background-color: #0000EC;
    height: 224px;
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden; }
  .header li a {
    display: block;
    padding: 16px 0px 8px 16px;
    text-decoration: none;
    font-family: "IBM Plex Mono", monospace;
    font-size: 16px;
    color: #FFFFFF;
    letter-spacing: 0;
    line-height: 28px; }
    .header li a:hover {
      font-weight: 500;
      color: #00F3BB;
      text-decoration: line-through;
      -webkit-transition: 0.20s ease;
      transition: 0.20s ease; }
    .header li a:active {
      font-weight: 500;
      color: #060A24;
      opacity: 56%;
      text-decoration: line-through; }
  .header .menu-btn {
    display: none; }
    .header .menu-btn:hover {
      font-weight: 500;
      color: #00F3BB;
      text-decoration: line-through;
      -webkit-transition: 0.20s ease;
      transition: 0.20s ease; }
    .header .menu-btn:active {
      font-weight: 500;
      color: #060A24;
      opacity: 56%;
      text-decoration: line-through; }
    .header .menu-btn:checked ~ .menu {
      max-height: 340px; }
    .header .menu-btn:checked ~ .menu-icon .navicon {
      background: transparent; }
      .header .menu-btn:checked ~ .menu-icon .navicon:before {
        -webkit-transform: rotate(-45deg);
                transform: rotate(-45deg); }
      .header .menu-btn:checked ~ .menu-icon .navicon:after {
        -webkit-transform: rotate(45deg);
                transform: rotate(45deg); }
    .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before {
      top: 0; }
    .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
      top: 0; }
  .header .logo {
    display: block;
    float: left;
    font-size: 1.5em;
    padding: 12px 20px;
    text-decoration: none; }
  .header .menu {
    clear: both;
    max-height: 0;
    -webkit-transition: max-height .2s ease-out;
    transition: max-height .2s ease-out; }
  .header .menu-icon {
    cursor: pointer;
    float: right;
    padding: 28px 20px;
    position: relative;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none; }
    .header .menu-icon .navicon {
      background: #060A24;
      display: block;
      height: 2px;
      position: relative;
      -webkit-transition: background .2s ease-out;
      transition: background .2s ease-out;
      width: 18px; }
      .header .menu-icon .navicon:before {
        background: #060A24;
        content: '';
        display: block;
        height: 100%;
        position: absolute;
        -webkit-transition: all .2s ease-out;
        transition: all .2s ease-out;
        width: 100%;
        top: 5px; }
      .header .menu-icon .navicon:after {
        background: #060A24;
        content: '';
        display: block;
        height: 100%;
        position: absolute;
        -webkit-transition: all .2s ease-out;
        transition: all .2s ease-out;
        width: 100%;
        top: -5px; }

/*main*/
.btn-conoce, .btn-escucha {
  font-size: 16px;
  line-height: 22px;
  width: 288px;
  height: 48px;
  border: none;
  background-color: #00F3BB;
  color: #060A24;
  font-family: "IBM Plex Mono", monospace;
  font-weight: 500;
  letter-spacing: 0;
  text-align: center;
  max-width: 100%; }
  .btn-conoce:hover, .btn-escucha:hover {
    color: #FFFFFF;
    background-image: linear-gradient(225deg, #0000FE 0%, #00F0B8 100%); }

.title-hello {
  width: 80%;
  font-size: 36px;
  line-height: 42px;
  font-family: "IBM Plex Sans", sans-serif;
  color: #060A24;
  margin-bottom: auto; }

.subtitle-1 {
  display: none; }

.subtitle-2 {
  margin-left: 10px;
  font-size: 14px;
  line-height: 22px;
  font-family: "IBM Plex Mono", monospace;
  color: #060A24;
  letter-spacing: 0; }

.world {
  text-decoration: line-through; }

.bdot {
  color: #0000EC; }

.container-hello {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

.container-conoce {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

.container-bg-podcast {
  margin-top: 25px;
  height: 1250px;
  position: relative;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#0000FF), to(#0000A3));
  background-image: linear-gradient(#0000FF, #0000A3); }

.title-episodes {
  font-family: "IBM Plex Sans", sans-serif;
  color: #FFFFFF;
  font-size: 36px;
  letter-spacing: 0;
  line-height: 42px;
  padding-left: 5%; }

.svg-diagonal-1 {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 10vw;
  -webkit-transform: translate(0px, 1px);
          transform: translate(0px, 1px); }

.svg-diagonal-2 {
  bottom: 0;
  width: 100%;
  height: 10vw;
  -webkit-transform: rotate(180deg) translate(0px, 1px);
          transform: rotate(180deg) translate(0px, 1px); }

.container-podcast {
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-template-columns: auto;
  row-gap: 1%; }
  .container-podcast iframe {
    width: 100%;
    height: 232px;
    border: 0; }

.container-phone, .container-interview {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: auto; }

.phone {
  width: 100%;
  height: 519px;
  -webkit-transform: translate(0px, -100px);
          transform: translate(0px, -100px);
  position: relative;
  margin-bottom: -100px; }

.title-dndvenimos {
  width: 90%;
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 36px;
  color: #060A24;
  line-height: 42px; }

.text-dndvenimos {
  width: 100%;
  height: 254px;
  font-family: "IBM Plex Mono", monospace;
  font-size: 16px;
  line-height: 22px;
  margin-bottom: 50px; }
  .text-dndvenimos br {
    display: block;
    margin-bottom: 15px; }

.title-interview {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 36px;
  color: #060A24;
  line-height: 42px; }

.title-topics {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 36px;
  color: #060A24;
  line-height: 42px; }

.img-grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr); }
  .img-grid img {
    grid-template-columns: repeat(1, 1fr);
    max-width: 100%; }

.container-topics {
  -webkit-column-gap: 5%;
          column-gap: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
  .container-topics > * {
    margin: 1rem 0; }

.svg-topics {
  text-align: center; }
  .svg-topics p {
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 600;
    font-size: 24px; }

.container-bg-news {
  height: 341px;
  width: 100%;
  position: relative;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#0000FF), to(#0000A3));
  background-image: linear-gradient(#0000FF, #0000A3); }

.container-news {
  text-align: center; }

.title-news {
  font-size: 36px;
  line-height: 42px;
  font-family: "IBM Plex Sans", sans-serif;
  color: #FFFFFF;
  letter-spacing: 0; }

/*footer*/
.footer-text p {
  font-family: "IBM Plex Mono", monospace;
  color: #060A24;
  letter-spacing: 0;
  text-align: center;
  font-size: 14px;
  line-height: 22px; }

.footer-icon ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 25px;
  margin-right: 80px; }
  .footer-icon ul li {
    padding-left: 44px; }
    .footer-icon ul li a {
      text-decoration: none;
      color: #060A24;
      font-size: 16px; }
      .footer-icon ul li a:hover {
        -webkit-transform: scale(1.3);
                transform: scale(1.3);
        opacity: 75%;
        color: #00F3BB;
        -webkit-transition: 0.20s ease;
        transition: 0.20s ease; }

/*responsive*/
@media screen and (min-width: 480px) {
  .title-interview {
    margin-top: -10%; }

  .container-podcast {
    margin: 5%;
    grid-template-columns: repeat(1, 1fr);
    -webkit-column-gap: 5%;
            column-gap: 5%; }

  .img-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr); }

  .phone {
    width: 457px;
    height: auto; }

  .container-bg-news {
    height: 300px; } }
@media screen and (min-width: 768px) {
  .title-hello {
    font-size: 50px;
    width: 100%; }

  .subtitle-1 {
    display: block;
    font-family: "IBM Plex Mono", monospace;
    color: #060A24;
    letter-spacing: 0;
    margin-left: 10px; }

  .subtitle-2 {
    display: none; }

  .container-bg-podcast {
    height: 850px; }

  .container-podcast {
    margin: 5%;
    grid-template-columns: repeat(2, 2fr);
    row-gap: 10%; }

  .img-grid {
    display: grid;
    grid-template-columns: repeat(2, 2fr); } }
@media screen and (min-width: 1024px) {
  .header ul {
    background-color: white;
    height: 100px; }
  .header li {
    float: left; }
    .header li a {
      color: #060A24;
      padding: 0px 30px; }
  .header .logo {
    line-height: 1; }
  .header .menu {
    clear: none;
    float: right;
    max-height: none; }
  .header .menu-icon {
    display: none; }

  .title-hello {
    margin-left: 15%;
    font-size: 64px;
    letter-spacing: 0;
    margin-bottom: 5%; }

  .subtitle-1 {
    width: 39.25rem;
    margin-left: 15%;
    font-size: 16px;
    line-height: 24px;
    margin-top: auto; }

  .container-bg-podcast {
    height: 900px; } }
@media only screen and (min-width: 1280px) {
  .menu-wrapper {
    height: 55px;
    line-height: 55px;
    width: 100%; }

  .title-hello {
    margin-top: 15%;
    margin-bottom: 3%; }

  .btn-conoce {
    font-size: 18px;
    line-height: 24px;
    margin-left: 21%;
    width: 226px;
    height: 56px; }

  .container-hello {
    margin-left: 100px; }

  .container-conoce {
    display: block;
    margin-left: -100px;
    margin-top: 50px; }

  .podcast {
    width: 584px;
    height: 232px; }

  .container-bg-podcast {
    min-height: 1042px; }

  .title-episodes {
    font-family: "IBM Plex Sans", sans-serif;
    color: #FFFFFF;
    font-size: 48px;
    letter-spacing: 0;
    -webkit-transform: translate(-50px, 20px);
            transform: translate(-50px, 20px);
    margin-left: 15%; }

  .phone {
    -webkit-transform: translate(0px, -200px);
            transform: translate(0px, -200px); }

  .container-dndvenimos {
    margin-left: 35%;
    margin-bottom: 5%; }

  .title-dndvenimos {
    font-family: "IBM Plex Sans", sans-serif;
    font-size: 48px;
    color: #060A24;
    letter-spacing: 0; }

  .text-dndvenimos {
    width: 464px;
    height: 204px;
    font-family: "IBM Plex Mono", monospace;
    line-height: 24px;
    font-size: 16px; }

  .title-interview {
    margin-top: 10px;
    margin-left: 15%;
    font-family: "IBM Plex Sans", sans-serif;
    font-size: 48px;
    color: #060A24;
    letter-spacing: 0; }

  .title-topics {
    margin-top: 70px;
    margin-left: 15%;
    font-family: "IBM Plex Sans", sans-serif;
    font-size: 48px;
    color: #060A24;
    letter-spacing: 0; }

  .img-grid {
    grid-template-columns: repeat(3, 1fr); }

  .container-bg-news {
    height: 518px;
    line-height: 50px; }

  .title-news {
    font-size: 48px; }

  .btn-escucha {
    font-size: 18px;
    line-height: 24px;
    width: 345px;
    height: 56px; }

  .footer-text {
    float: left;
    margin-left: 10%; }
    .footer-text p {
      font-size: 16px;
      line-height: 28px; }

  .footer-icon ul {
    float: right;
    margin-right: 10%;
    margin-top: 18px; }
    .footer-icon ul li a {
      font-size: 18px; } }
@media only screen and (min-width: 1824px) {
  .header {
    padding-right: 100px; }
    .header a img {
      width: 75px;
      height: 75px;
      -webkit-transform: translate(75px);
              transform: translate(75px); }
    .header ul {
      margin-top: 20px; }

  .btn-conoce {
    margin-left: 370px; }

  .container-bg-podcast {
    height: 1200px; }

  .container-podcast {
    -webkit-transform: translate(100px, -60px);
            transform: translate(100px, -60px);
    width: 80vw;
    height: 60vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around; }
    .container-podcast iframe {
      width: 700px; }

  .title-episodes {
    -webkit-transform: translate(-100px, 0px);
            transform: translate(-100px, 0px); }

  .phone {
    -webkit-transform: translate(-100px, -250px);
            transform: translate(-100px, -250px); }

  .container-dndvenimos {
    -webkit-transform: translate(-150px);
            transform: translate(-150px);
    width: 100%; } }

/*# sourceMappingURL=styles.css.map */